# Default values for dns.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

project: atlas #your project name
namespace: dev #your namespace

deploy:
  app: dns-api #your app name
  replicas: 1 #how many replicas you want to have
  imgTag: latest #image tag name
  repo: khanadnanxyz/dns #image name

service:
  type: ClusterIP #your service type

ingress:
  host: dns.svc.khanadnan.xyz #your domain or host name
  secret: tls-dns-khanadnan-xyz #name your certificate for your cert-manager
  paths: /